.Welcome{
    height: 100vh;
    margin: 2.5em auto;
    padding: 0 1.5em;
    animation: fade-in .7s ease ;
    transition: all .7s;
}




@media (max-width: 414px) {

    .Welcome{
        margin: 2.5em auto;
        height: 80vh;
        padding: 0 1.5em;
        font-size: 0.5em;
    }
 
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}