.SearchInput{
    background-color: #2596be; 
    border-radius: 30px;
    padding-left: 2.375rem;
    width: 100%;
}

.SearchInput::placeholder{
    color: white;
}

.FormIcon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.FormGroup{
    width: 100%;
}

@media (min-width: 1024px) {
    .FormGroup{
        width: 50%;
    }
}