.Banner{
    text-align: center;
    animation: slide-in-down .7s ease-in ;
    transition: all .7s ease-in;
}

.Banner > h2{
    font-size: 4.5em ;

}
.Banner > p{
    font-size: 2em ;
}

@keyframes slide-in-down {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}
